@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000000;
}

p,
a {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #686b78;
  text-decoration: none;
}

button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.xp-btn-primary, .xp-modal .xp-modal-buttons .btn-primary {
  background: #8e27f6;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.xp-btn-primary:hover, .xp-modal .xp-modal-buttons .btn-primary:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #7a0aea;
}

.xp-btn-primary:focus, .xp-modal .xp-modal-buttons .btn-primary:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-btn-secondary, .xp-modal .xp-modal-buttons .btn-secondary {
  background: transparent !important;
  color: #8e27f6;
  padding: 8px 25px;
  border: 1px solid #8e27f6;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.xp-btn-secondary:hover, .xp-modal .xp-modal-buttons .btn-secondary:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #7409e1;
  border-color: #7409e1;
}

.xp-btn-secondary:focus, .xp-modal .xp-modal-buttons .btn-secondary:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-btn-primary-outline {
  background: #d3a8ff;
  color: #8e27f6;
  padding: 8px 25px;
  border: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.xp-btn-primary-outline:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #8e27f6;
  color: #ffffff;
}

.xp-btn-primary-outline:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xp-categories-wrapper {
  color: #000000;
  font-size: 13px;
  border: none;
  background-color: #f2f2f2;
  padding: 3px 8px;
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
  white-space: nowrap;
}

@media (max-width: 568px) {
  .xp-categories-wrapper {
    padding: 3px 3px;
    font-size: 12px;
    margin: 3px 5px 3px 0px;
  }
}

.xp-modal {
  width: 50vw;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  background-color: #ffffff;
  height: auto;
  padding: 20px 20px;
  text-align: center;
  border-radius: 12px;
}

.xp-modal h6 {
  color: #242323;
  font-weight: 600;
  margin: 10px auto;
  text-transform: none;
  margin-bottom: 15px;
}

.xp-modal h6::first-letter {
  text-transform: capitalize;
}

.xp-modal .xp-modal-buttons .btn-primary {
  margin: auto 10px;
}

.xp-modal .xp-modal-buttons .btn-secondary {
  margin: auto 10px;
}

.xp-modal .xp-modal-progress h6 {
  color: #3c383f;
}

.xp-modal .xp-modal-progress h6 i {
  font-size: 1.5rem !important;
  margin-left: 7px;
  -webkit-animation: rocket_launch 1.5s linear infinite;
          animation: rocket_launch 1.5s linear infinite;
}

.xp-modal .xp-modal-progress .progress {
  margin: 15px auto 0px auto;
  background: #ebebeb;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.xp-modal .xp-modal-progress .progress-bar {
  background: #fca311;
}

@media (max-width: 768px) {
  .xp-modal {
    width: 80vw;
  }
}
/*# sourceMappingURL=Modal.css.map */