@import "../../utilities/scss-variables/variables";

.xp-story_screen {
  width: 85%;
  margin: 25px auto 5px auto;
  overflow-x: hidden;
  background-color: $xp-white;
  h4 {
    color: $xp-black;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
  }
  .xp-story_screen-title {
    @extend .xp-center;
    justify-content: space-between;
    h4 {
      span {
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
        color: $xp-accent;

        .highlight {
          font-weight: 600;
        }
      }
    }
    .xp-btn-story_screen-filter {
      padding: 0px;
      border: none;
      background: none;
      outline: none;

      .dropdown {
        button {
          border-color: $xp-accent;
          color: $xp-accent;
          padding: 0.4rem 1.3rem;
          margin: auto 15px 8px 15px;
          font-weight: 500;
          transition: all 0.3s ease;
        }
        .dropdown-menu {
          p {
            cursor: pointer;

            &:hover {
              color: $xp-pri;
              transition: all 0.3s ease;
            }
          }
        }
      }
      @extend .xp-center;
    }
  }
  .popular-tags {
    h4 {
      border-bottom: 1.5px solid $xp-border;
      padding: 0px 0px 5px 0px;
    }
  }
  .also_like_section {
    margin: 30px auto 20px auto;
    h4 {
      border-bottom: 1.5px solid $xp-border;
      padding: 0px 0px 5px 0px;
    }
  }
}

.xp-no_tags_followed {
  height: 80vh;
  @extend .xp-center;
  background-color: $xp-shade;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid $xp-border;
}

@media (max-width: 768px) {
  .xp-story_screen {
    width: 100%;

    .xp-story_screen-title {
      position: sticky;
      top: 0;
      z-index: 44;
      background-color: $xp-white;
      padding: 0.5rem 0.3rem 0.2rem 0.3rem;

      h4 {
        span {
          display: none;
        }
      }
    }

    .popular-tags {
      margin-top: 15px;
    }
  }
}

@media (max-width: 350px) {
  .xp-story_screen {
    width: 100%;
    .xp-story_screen-title {
      flex-direction: column;
      text-align: center;
    }
  }
}
