@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lora:wght@700&family=Spectral:wght@700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000000;
}

p,
a {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #686b78;
  text-decoration: none;
}

button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.xp-btn-primary {
  background: #8e27f6;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.xp-btn-primary:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #7a0aea;
}

.xp-btn-primary:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-btn-secondary {
  background: transparent !important;
  color: #8e27f6;
  padding: 8px 25px;
  border: 1px solid #8e27f6;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.xp-btn-secondary:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #7409e1;
  border-color: #7409e1;
}

.xp-btn-secondary:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-btn-primary-outline {
  background: #d3a8ff;
  color: #8e27f6;
  padding: 8px 25px;
  border: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.xp-btn-primary-outline:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #8e27f6;
  color: #ffffff;
}

.xp-btn-primary-outline:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-center, .xp-story_screen .xp-story_screen-title .xp-btn-story_screen-filter, .xp-no_tags_followed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xp-categories-wrapper {
  color: #242323;
  font-size: 12px;
  border: none;
  background-color: #F2F2F2;
  padding: 3px 8px;
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
  white-space: nowrap;
}

@media (min-width: 250px) and (max-width: 500px) {
  .xp-btn-secondary {
    padding: 8px 20px;
    font-size: 12px;
  }
}

.xp-story_screen {
  width: 85%;
  margin: 25px auto 5px auto;
  overflow-x: hidden;
  background-color: #ffffff;
}

.xp-story_screen .xp-story_screen-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.xp-story_screen .xp-story_screen-title h4 {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.xp-story_screen .xp-story_screen-title .xp-btn-story_screen-filter {
  padding: 0px;
  border: none;
  background: none;
  outline: none;
}

.xp-story_screen .xp-story_screen-title .xp-btn-story_screen-filter .dropdown button {
  border-color: #686b78;
  color: #686b78;
  padding: 0.4rem 1.3rem;
  margin: auto 15px 8px 15px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.xp-story_screen .xp-story_screen-title .xp-btn-story_screen-filter .dropdown .dropdown-menu p {
  cursor: pointer;
}

.xp-story_screen .xp-story_screen-title .xp-btn-story_screen-filter .dropdown .dropdown-menu p:hover {
  color: #8e27f6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.xp-story_screen .also_like_section {
  margin: 20px auto;
}

.xp-story_screen .also_like_section h5 {
  color: #3c383f;
  font-weight: 400;
  margin: 7px auto;
}

.xp-no_tags_followed {
  height: 80vh;
  background-color: #d3a8ff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 12px;
  border: 1px solid #ebebeb;
}

@media (max-width: 768px) {
  .xp-story_screen {
    width: 100%;
  }
  .xp-story_screen .xp-story_screen-title {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 44;
    background-color: #ffffff;
    padding: 0.5rem 0.3rem 0.2rem 0.3rem;
  }
}

@media (max-width: 350px) {
  .xp-story_screen {
    width: 100%;
  }
  .xp-story_screen .xp-story_screen-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
/*# sourceMappingURL=StoryScreen.css.map */