@import "../../utilities/scss-variables/variables";


.xp-tag__stories {
  width: 70%;
  margin: 15px auto;

  .xp-tag__stories-details {
    @extend .xp-center;
    flex-wrap: wrap;
    margin: 15px auto 30px auto;
    justify-content: space-between;
    h1 {
      color: $xp-black;
      font-family: $xp-serif;
      color: $xp-title;
    }
    button {
      @extend .xp-btn-primary;
    }
  }
  .xp-tag_loader{
    @extend .xp-center; 
    flex-wrap: nowrap;

    i{
      margin-right: 5px;
    }
  }
}

@media (max-width: 768px){
  .xp-tag__stories{
    width: 80%;
  }
}

@media (max-width: 468px){
  .xp-tag__stories{
    width: 100%;
  }
}