@import "../../utilities/scss-variables/variables";


.xp-tag__stories {
  width: 70%;
  margin: 15px auto;

  .xp-tag__stories-details {
    @extend .xp-center;
    flex-wrap: wrap;
    margin: 15px auto 0px auto;
    justify-content: space-between;
    border-bottom: 1px solid $xp-border;
    padding-bottom: 5px;
    h1 {
      color: $xp-black;
      font-family: $xp-pop;
      color: $xp-title;
      font-weight: 600;
    }
    button {
      @extend .xp-btn-primary;
    }
  }
  .xp-tag_loader{
    @extend .xp-center; 
    flex-wrap: nowrap;

    i{
      margin-right: 5px;
    }
  }
}

@media (max-width: 768px){
  .xp-tag__stories{
    width: 80%;
    .xp-tag__stories-details{
      h1{
        font-size: 28px;
      }
      button{
        padding: 8px 22px;
      }
    }
  }
}

@media (max-width: 468px){
  .xp-tag__stories{
    width: 100%;
    .xp-tag__stories-details{
      h1{
        font-size: 22px;
      }
      button{
        padding: 5px 20px;
        font-size: 13px;
      }
    }
  }
}