@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000000;
}

p,
a {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #686b78;
  text-decoration: none;
}

button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.xp-btn-primary, .xp-tag__stories .xp-tag__stories-details button {
  background: #8c00ff;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.xp-btn-primary:hover, .xp-tag__stories .xp-tag__stories-details button:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #7600d6;
}

.xp-btn-primary:focus, .xp-tag__stories .xp-tag__stories-details button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-btn-secondary {
  background: transparent !important;
  color: #8c00ff;
  padding: 8px 25px;
  border: 1px solid #8c00ff;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.xp-btn-secondary:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #7000cc;
  border-color: #7000cc;
}

.xp-btn-secondary:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-btn-primary-outline {
  background: #d3a8ff;
  color: #8c00ff;
  padding: 8px 25px;
  border: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.xp-btn-primary-outline:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #8c00ff;
  color: #ffffff;
}

.xp-btn-primary-outline:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-center, .xp-tag__stories .xp-tag__stories-details, .xp-tag__stories .xp-tag_loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xp-categories-wrapper {
  color: #000000;
  font-size: 13px;
  border: none;
  background-color: #f2f2f2;
  padding: 3px 8px;
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
  white-space: nowrap;
}

@media (min-width: 250px) and (max-width: 500px) {
  .xp-btn-secondary {
    padding: 8px 20px;
    font-size: 12px;
  }
}

.xp-tag__stories {
  width: 70%;
  margin: 15px auto;
}

.xp-tag__stories .xp-tag__stories-details {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px auto 30px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.xp-tag__stories .xp-tag__stories-details h1 {
  color: #000000;
  font-family: "Poppins", sans-serif;
  color: #3c383f;
  font-weight: 600;
}

.xp-tag__stories .xp-tag_loader {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.xp-tag__stories .xp-tag_loader i {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .xp-tag__stories {
    width: 80%;
  }
}

@media (max-width: 468px) {
  .xp-tag__stories {
    width: 100%;
  }
}
/*# sourceMappingURL=TagStories.css.map */