@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000000;
}

p,
a {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #686b78;
  text-decoration: none;
}

button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.xp-btn-primary {
  background: #8e27f6;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.xp-btn-primary:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #7a0aea;
}

.xp-btn-primary:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-btn-secondary {
  background: transparent !important;
  color: #8e27f6;
  padding: 8px 25px;
  border: 1px solid #8e27f6;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.xp-btn-secondary:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #7409e1;
  border-color: #7409e1;
}

.xp-btn-secondary:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-btn-primary-outline {
  background: #d3a8ff;
  color: #8e27f6;
  padding: 8px 25px;
  border: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.xp-btn-primary-outline:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #8e27f6;
  color: #ffffff;
}

.xp-btn-primary-outline:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-center, .xp-nav .navbar-brand, .xp-nav .navbar-nav, .xp-nav .xp-nav-mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xp-categories-wrapper {
  color: #000000;
  font-size: 13px;
  border: none;
  background-color: #f2f2f2;
  padding: 3px 8px;
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
  white-space: nowrap;
}

@media (max-width: 568px) {
  .xp-categories-wrapper {
    padding: 3px 3px;
    font-size: 12px;
    margin: 3px 5px 3px 0px;
  }
}

.xp-nav {
  padding: 0.1rem 2rem;
  border-bottom: 1px solid #ebebeb;
  -webkit-user-select: none;
  background: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.xp-nav a {
  outline: none;
  text-decoration: none;
}

.xp-nav .navbar-brand img {
  width: 20px;
  margin-right: 5px;
  -webkit-animation: logo_reveal 1s linear;
          animation: logo_reveal 1s linear;
}

.xp-nav .navbar-brand span {
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

.xp-nav .navbar-actions .bell {
  visibility: hidden;
  position: relative;
}

.xp-nav .navbar-actions .bell i {
  font-size: 1.5rem !important;
  color: #686b78;
  z-index: 10;
  position: relative;
}

.xp-nav .navbar-actions .bell .len {
  content: "";
  position: absolute;
  top: 0%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #f84f31;
  z-index: 11;
  border-radius: 50%;
}

.xp-nav .navbar-actions .navbar-toggler {
  position: relative;
  z-index: 101;
}

.xp-nav .navbar-actions .navbar-toggler i {
  color: #686b78;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.9rem !important;
}

.xp-nav .navbar-actions .navbar-toggler i:hover {
  color: #000000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.xp-nav .navbar-actions .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-nav .navbar-nav {
  padding: 0px;
  margin: 0px;
}

.xp-nav .navbar-nav li {
  position: relative;
}

.xp-nav .navbar-nav li p {
  color: #686b78;
  text-decoration: none;
  margin: 7px 15px;
  cursor: pointer;
  padding: 7px 0px;
}

.xp-nav .navbar-nav li p:hover {
  color: #000000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.xp-nav .navbar-nav li p:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-nav .navbar-nav li i {
  font-size: 1.2rem;
  margin: 7px 20px 7px 15px;
  cursor: pointer;
  padding: 7px 0px;
  color: #686b78;
  position: relative;
  z-index: 11;
}

.xp-nav .navbar-nav li .len {
  content: "";
  position: absolute;
  top: 35%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #f84f31;
  z-index: 9;
  border-radius: 50%;
}

.xp-nav .navbar-nav button {
  padding: 7px 15px;
}

.xp-nav .xp-nav-mobile-list {
  background: #242323;
  padding: 10px;
  width: 70vw;
  height: 100vh;
  position: fixed;
  left: -100%;
  top: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: xp_nav_reveal 0.5s linear;
          animation: xp_nav_reveal 0.5s linear;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  z-index: 999;
}

.xp-nav .xp-nav-mobile-list p {
  color: #ffffff;
  font-size: 16px;
  margin: 15px auto;
  cursor: pointer;
  position: relative;
}

.xp-nav .xp-nav-mobile-list p i {
  font-size: 1.2rem;
  margin: 5px auto;
  cursor: pointer;
  color: #ffffff;
  position: relative;
  z-index: 11;
}

.xp-nav .xp-nav-mobile-list .xp-btn-secondary {
  border: none;
  font-weight: 600;
}

.xp-nav .xp-nav-mobile-list .xp-btn-primary {
  margin: 20px auto;
}

@media (max-width: 991px) {
  .xp-nav .navbar .bell {
    visibility: visible;
  }
}

@media (max-width: 500px) {
  .xp-nav {
    padding: 0.3rem 0rem;
  }
  .xp-nav .navbar {
    padding: 0.3rem 0rem;
  }
  .xp-nav .navbar .navbar-brand img {
    width: 15px;
    margin-right: 3px;
  }
  .xp-nav .navbar .navbar-brand span {
    font-size: 15px;
  }
  .xp-nav .xp-nav-mobile-list {
    width: 60vw;
  }
  .xp-nav .xp-nav-mobile-list p {
    font-size: 14px;
  }
  .xp-nav .xp-nav-mobile-list button {
    font-size: 12px;
    padding: 8px 20px;
  }
}

@-webkit-keyframes logo_reveal {
  0% {
    opacity: 0;
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo_reveal {
  0% {
    opacity: 0;
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=Navigation.css.map */