.xp-story-skull-web {
  width: 100%;
  overflow: hidden;
  display: block;
}

.xp-skull_layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.xp-skull {
  margin: 0px 3px;
}

.xp-story-skull-mobile {
  display: none;
  width: 100%;
}

.xp-story-skull-mobile .xp-skull_layout-mobile{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 501px) {
  .xp-story-skull-web {
    display: none;
  }
  .xp-story-skull-mobile {
    display: block;
  }
}
