@import "../../utilities/scss-variables/variables";

.xp-comment-input_wrapper {
  margin-bottom: 7px;
  label {
    font-weight: 500;
    font-family: $xp-pop;
    text-transform: capitalize;
    margin: 5px 0px;
  }
  .xp-comment-input {
    width: 100%;
    background: $xp-editor;
    border: 1px solid $xp-story-border;
    padding: 0px;
    margin: 5px 0px;
    @extend .xp-center;
    border-radius: 7px;

    input {
      font-family: $xp-pop;
      font-size: 14px;
      color: $xp-title;
      font-weight: 400;
      background: transparent;
      border: none;
      margin: 0px;
      outline: none !important;
      padding: 1rem 0.7rem;
      flex: 1;
    }

    button {
      font-weight: 500;
      font-family: $xp-pop;
      text-transform: uppercase;
      color: $xp-accent;
      background: transparent;
      border-radius: 0px;
      font-size: 14px;
      &:hover {
        color: $xp-black;
        background: transparent;
      }

      &:focus {
        outline: none !important;
        box-shadow: none;
      }
    }
  }
}
.xp-comment-card {
  margin: 10px auto;
  padding: 0.3rem 0rem;
  border-bottom: 1px solid $xp-border;


  .xp-comment-card_header {
    @extend .xp-center;
    justify-content: flex-start;

    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
      border-radius: 50%;
    }

    h6 {
      color: $xp-accent;
      text-transform: none;
      margin: 0px 10px;
    }
    .xp-comment-date {
      font-weight: 400;
      font-size: 12px;
      margin: 0px 10px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        background: $xp-accent;
        top: 50%;
        left: -15%;
        transform: translate(-50%, -50%);
        border: none;
        border-radius: 50%;
      }
    }
  }

  .xp-comment-card_body {
    p {
      margin: 7px 0px 7px 0px;
    }
  }
}

@media (max-width: 991px) {
  .xp-comment-input_wrapper {
    .xp-comment-input {
      input {
        padding: 0.7rem;
      }
    }
  }
  .xp-comment-card {
    .xp-comment-card_header {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
