@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lora:wght@700&family=Spectral:wght@700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000000;
}

p,
a {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #686b78;
  text-decoration: none;
}

button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.xp-btn-primary {
  background: #8e27f6;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.xp-btn-primary:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #7a0aea;
}

.xp-btn-primary:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-btn-secondary {
  background: transparent !important;
  color: #8e27f6;
  padding: 8px 25px;
  border: 1px solid #8e27f6;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.xp-btn-secondary:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #7409e1;
  border-color: #7409e1;
}

.xp-btn-secondary:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-btn-primary-outline {
  background: #d3a8ff;
  color: #8e27f6;
  padding: 8px 25px;
  border: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.xp-btn-primary-outline:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #8e27f6;
  color: #ffffff;
}

.xp-btn-primary-outline:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xp-center, .also_like, .also_like .xp-also_like-reaction, .also_like .xp-also_like-reaction .xp-also_like-img,
.also_like .xp-also_like-reaction .xp-also_view-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xp-categories-wrapper {
  color: #000000;
  font-size: 13px;
  border: none;
  background-color: #f2f2f2;
  padding: 3px 8px;
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
  white-space: nowrap;
}

@media (min-width: 250px) and (max-width: 500px) {
  .xp-btn-secondary {
    padding: 8px 20px;
    font-size: 12px;
  }
}

.also_like {
  background: #ffffff;
  margin: 20px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.also_like:first-child {
  margin-top: 0px;
}

.also_like .xp-also_like-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.also_like p {
  color: #3c383f;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.also_like .xp-also_like-reaction {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 5px auto;
}

.also_like .xp-also_like-reaction .xp-also_like-img img,
.also_like .xp-also_like-reaction .xp-also_view-img img {
  width: 15px;
  opacity: 0.5;
}

.also_like .xp-also_like-reaction .xp-also_like-img i,
.also_like .xp-also_like-reaction .xp-also_view-img i {
  opacity: 0.5;
  margin: 0px;
  padding: 0px;
}

.also_like .xp-also_like-reaction .xp-also_like-img span,
.also_like .xp-also_like-reaction .xp-also_view-img span {
  color: #686b78;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin-left: 3px;
}

.also_like .xp-also_like-reaction .xp-also_view-img {
  margin-left: 20px;
}

.also_like:hover {
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  border-color: transparent;
}

.also_like:hover p {
  color: #3c383f;
}

.also_like .xp-also_like-right img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #8e27f6;
  margin-left: 10px;
}

@media (max-width: 991px) {
  .also_like {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
    margin: 20px auto;
  }
  .also_like .xp-also_like-right {
    padding-left: 7px;
  }
  .also_like .xp-also_like-right img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .also_like {
    width: 70%;
    margin: 30px 0px;
  }
  .also_like .xp-also_like-right img {
    width: 70px;
    height: 70px;
    margin-left: 7px;
  }
}

@media (max-width: 501px) {
  .also_like {
    width: 100%;
    margin: 30px 0px;
  }
  .also_like .xp-also_like-right img {
    width: 70px;
    height: 70px;
    margin-left: 7px;
  }
}
/*# sourceMappingURL=AlsoLike.css.map */