@import "../../utilities/scss-variables/variables";

.also_like {
  background: $xp-white;
  margin: 20px 0px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  @extend .xp-center;
  justify-content: flex-start;
  align-items: stretch;

  &:first-child {
    margin-top: 0px;
  }

  .xp-also_like-left {
    flex: 1;
    width: 100%;
  }

  p {
    color: $xp-title;
    font-family: $xp-pop;
    font-weight: 600;
  }

  .xp-also_like-reaction {
    @extend .xp-center;
    justify-content: flex-start;
    margin: 5px auto;

    .xp-also_like-img,
    .xp-also_view-img {
      @extend .xp-center;

      img {
        width: 15px;
        opacity: 0.5;
      }

      i {
        opacity: 0.5;
        margin: 0px;
        padding: 0px;
      }

      span {
        color: $xp-accent;
        font-family: $xp-pop;
        font-size: 12px;
        margin-left: 3px;
      }
    }
    .xp-also_view-img {
      margin-left: 20px;
    }
  }

  &:hover {
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    border-color: transparent;

    p {
      color: $xp-title;
    }
  }

  .xp-also_like-right {
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      background-color: $xp-pri;
      margin-left: 10px;
    }
  }
}

@media (max-width: 991px) {
  .also_like {
    align-items: stretch;
    width: 100%;
    margin: 20px auto;

    .xp-also_like-right {
      padding-left: 7px;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 768px) {
  .also_like {
    width: 70%;
    margin: 30px 0px;

    .xp-also_like-right {
      img {
        width: 70px;
        height: 70px;
        margin-left: 7px;
      }
    }
  }
}

@media (max-width: 501px) {
  .also_like {
    width: 100%;
    margin: 30px 0px;

    .xp-also_like-right {
      img {
        width: 70px;
        height: 70px;
        margin-left: 7px;
      }
    }
  }
}
